{% extends 'base.html.twig' %}

{% block body %}
    <h1>API Routes</h1>
  <ul class="api-list">
    {% for route in routes %}
        <li>
            {% if route.name == 'api_deck_draw_number' %}
                {{ route.path }} - {{ route.description }}
            {% else %}
                <a href="{{ path(route.name) }}">{{ route.path }}</a> - {{ route.description }}
            {% endif %}
        </li>
    {% endfor %}
</ul>


{% endblock %}
